:root,
:root[theme-mode='light'] {
  --td-brand-color-1: #E8FFF6;
  --td-brand-color-2: #B1F3D7;
  --td-brand-color-3: #7EE6BF;
  --td-brand-color-4: #51DCAB;
  --td-brand-color-5: #25D09A;
  --td-brand-color-6: #00C48D;
  --td-brand-color-7: #05A57E;
  --td-brand-color-8: #00886B;
  --td-brand-color-9: #006A57;
  --td-brand-color-10: #004D41;
  --td-warning-color-1: #FFF6E8;
  --td-warning-color-2: #FCE4C4;
  --td-warning-color-3: #FAD1A2;
  --td-warning-color-4: #F7BB7F;
  --td-warning-color-5: #F5A45E;
  --td-warning-color-6: #F28C3D;
  --td-warning-color-7: #C96726;
  --td-warning-color-8: #9F4714;
  --td-warning-color-9: #762C07;
  --td-warning-color-10: #4D1700;
  --td-error-color-1: #FFECE8;
  --td-error-color-2: #FBCAC2;
  --td-error-color-3: #F7A79E;
  --td-error-color-4: #F3827A;
  --td-error-color-5: #EF5C57;
  --td-error-color-6: #EB3636;
  --td-error-color-7: #C32227;
  --td-error-color-8: #9C121B;
  --td-error-color-9: #740712;
  --td-error-color-10: #4D000A;
  --td-success-color-1: var(--td-brand-color-1);
  --td-success-color-2: var(--td-brand-color-2);
  --td-success-color-3: var(--td-brand-color-3);
  --td-success-color-4: var(--td-brand-color-4);
  --td-success-color-5: var(--td-brand-color-5);
  --td-success-color-6: var(--td-brand-color-6);
  --td-success-color-7: var(--td-brand-color-7);
  --td-success-color-8: var(--td-brand-color-8);
  --td-success-color-9: var(--td-brand-color-9);
  --td-success-color-10: var(--td-brand-color-10);
  --td-gray-color-1: #F3F3F3;
  --td-gray-color-2: #EEEEEE;
  --td-gray-color-3: #E7E7E7;
  --td-gray-color-4: #DCDCDC;
  --td-gray-color-5: #BFBFBF;
  --td-gray-color-6: #A8A8A8;
  --td-gray-color-7: #999999;
  --td-gray-color-8: #7A7A7A;
  --td-gray-color-9: #666666;
  --td-gray-color-10: #4B4B4B;
  --td-gray-color-11: #393939;
  --td-gray-color-12: #2C2C2C;
  --td-gray-color-13: #242424;
  --td-gray-color-14: #181818;

  // 文字 & 图标 颜色
  --td-font-white-1: rgba(255, 255, 255, 100%);
  --td-font-white-2: rgba(255, 255, 255, 55%);
  --td-font-white-3: rgba(255, 255, 255, 35%);
  --td-font-white-4: rgba(255, 255, 255, 22%);
  --td-font-gray-1: rgba(0, 0, 0, 90%);
  --td-font-gray-2: rgba(0, 0, 0, 60%);
  --td-font-gray-3: rgba(0, 0, 0, 40%);
  --td-font-gray-4: rgba(0, 0, 0, 25%);

  // 基础颜色
  --td-brand-color: var(--td-brand-color-6); // 色彩-品牌-可操作
  --td-warning-color: var(--td-warning-color-6); // 色彩-功能-警告
  --td-error-color: var(--td-error-color-6); // 色彩-功能-失败
  --td-success-color: var(--td-success-color-6); // 色彩-功能-成功

  // 基础颜色的扩展 用于 hover / 聚焦 / 禁用 / 点击 等状态
  --td-brand-color-hover: var(--td-brand-color-5); // hover态
  --td-brand-color-focus: var(--td-brand-color-2); // focus态，包括鼠标和键盘
  --td-brand-color-active: var(--td-brand-color-7); // 点击态
  --td-brand-color-disabled: var(--td-brand-color-3); // 禁用态
  --td-brand-color-light: var(--td-brand-color-1); // 浅色的选中态
  --td-brand-color-light-hover: var(--td-brand-color-6);

  // 警告色扩展
  --td-warning-color-hover: var(--td-warning-color-5);
  --td-warning-color-focus: var(--td-warning-color-2);
  --td-warning-color-active: var(--td-warning-color-7);
  --td-warning-color-disabled: var(--td-warning-color-3);
  --td-warning-color-light: var(--td-warning-color-1);
  --td-warning-color-light-hover: var(--td-warning-color-6);

  // 失败/错误色扩展
  --td-error-color-hover: var(--td-error-color-5);
  --td-error-color-focus: var(--td-error-color-2);
  --td-error-color-active: var(--td-error-color-7);
  --td-error-color-disabled: var(--td-error-color-3);
  --td-error-color-light: var(--td-error-color-1);
  --td-error-color-light-hover: var(--td-error-color-2);

  // 成功色扩展
  --td-success-color-hover: var(--td-success-color-5);
  --td-success-color-focus: var(--td-success-color-2);
  --td-success-color-active: var(--td-success-color-7);
  --td-success-color-disabled: var(--td-success-color-3);
  --td-success-color-light: var(--td-success-color-1);
  --td-success-color-light-hover: var(--td-success-color-6);

  // 遮罩
  --td-mask-active: rgba(0, 0, 0, 60%); // 遮罩-弹出
  --td-mask-disabled: rgba(255, 255, 255, 60%); // 遮罩-禁用
  --td-mask-background: rgba(255, 255, 255, 96%); // 二维码遮罩

  // 背景色
  --td-bg-color-page: var(--td-gray-color-2); // 色彩 - page
  --td-bg-color-container: #fff; // 色彩 - 容器
  --td-bg-color-container-hover: var(--td-gray-color-1); // 色彩 - 容器 - hover
  --td-bg-color-container-active: var(--td-gray-color-3); // 色彩 - 容器 - active
  --td-bg-color-container-select: #fff; // 色彩 - 容器 - select
  --td-bg-color-secondarycontainer: var(--td-gray-color-1); // 色彩 - 次级容器
  --td-bg-color-secondarycontainer-hover: var(--td-gray-color-2); // 色彩 - 次级容器 - hover
  --td-bg-color-secondarycontainer-active: var(--td-gray-color-4); // 色彩 - 次级容器 - active
  --td-bg-color-component: var(--td-gray-color-3); // 色彩 - 组件
  --td-bg-color-component-hover: var(--td-gray-color-4); // 色彩 - 组件 - hover
  --td-bg-color-component-active: var(--td-gray-color-6); // 色彩 - 组件 - active
  --td-bg-color-secondarycomponent: var(--td-gray-color-4); // 色彩 - 次级组件
  --td-bg-color-secondarycomponent-hover: var(--td-gray-color-5); // 色彩 - 次级组件 - hover
  --td-bg-color-secondarycomponent-active: var(--td-gray-color-6); // 色彩 - 次级组件 - active
  --td-bg-color-component-disabled: var(--td-gray-color-2); // 色彩 - 组件 - disabled

  // 特殊组件背景色，目前只用于 button、input 组件多主题场景，浅色主题下固定为白色，深色主题下为 transparent 适配背景颜色
  --td-bg-color-specialcomponent: #fff;

  // 文本颜色
  --td-text-color-primary: var(--td-font-gray-1); // 色彩-文字-主要 //TODO: 文字颜色需要和设计确认 var(--td-font-gray-1)
  --td-text-color-secondary: var(--td-font-gray-2); // 色彩-文字-次要 //
  --td-text-color-placeholder: var(--td-font-gray-3); // 色彩-文字-占位符/说明
  --td-text-color-disabled: var(--td-font-gray-4); // 色彩-文字-禁用  //TODO: 文字颜色需要和设计确认
  --td-text-color-anti: #fff; // 色彩-文字-反色
  --td-text-color-brand: var(--td-brand-color-6); // 色彩-文字-品牌
  --td-text-color-link: #4264AC; // 色彩-文字-链接 //TODO: var(--td-brand-color-8)
  --td-text-color-watermark: rgba(0, 0, 0, 10%); // 色彩-文字-水印颜色

  // 分割线
  --td-border-level-1-color: var(--td-gray-color-3);
  --td-component-stroke: var(--td-gray-color-3);
  // 边框
  --td-border-level-2-color: var(--td-gray-color-4);
  --td-component-border: var(--td-gray-color-4);

  // 基础/下层 投影 hover 使用的组件包括：表格 /
  --td-shadow-1: 0 1px 10px rgba(0, 0, 0, 5%), 0 4px 5px rgba(0, 0, 0, 8%), 0 2px 4px -1px rgba(0, 0, 0, 12%);
  // 中层投影 下拉 使用的组件包括：下拉菜单 / 气泡确认框 / 选择器 /
  --td-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 5%), 0 8px 10px 1px rgba(0, 0, 0, 6%), 0 5px 5px -3px rgba(0, 0, 0, 10%);
  // 上层投影（警示/弹窗）使用的组件包括：全局提示 / 消息通知
  --td-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 5%), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);

  // 内投影 用于弹窗类组件（气泡确认框 / 全局提示 / 消息通知）的内描边
  --td-shadow-inset-top: inset 0 .5px 0 #dcdcdc;
  --td-shadow-inset-right: inset .5px 0 0 #dcdcdc;
  --td-shadow-inset-bottom: inset 0 -.5px 0 #dcdcdc;
  --td-shadow-inset-left: inset -.5px 0 0 #dcdcdc;

  // table 特定阴影
  --td-table-shadow-color: rgba(0, 0, 0, 8%);

  // 滚动条颜色
  --td-scrollbar-color: rgba(0, 0, 0, 10%);
  // 滚动条悬浮颜色（ hover ）
  --td-scrollbar-hover-color: rgba(0, 0, 0, 30%);
  // 滚动条轨道颜色，不能是带透明度，否则纵向滚动时，横向滚动条会穿透
  --td-scroll-track-color: #fff;
}
